body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.spiceAttr {
  background-color: aquamarine;
  width: 120px;
  margin-right: 15px;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
}

h1{
  color: brown;
}

input{
  width: 150px;
  border-style:double;
  margin: 10px;
}

 input[type= submit] {
   background-color: forestgreen;
   width: 120px;
   margin: 10px;
   color: white;
   border-color: black;
 }
